<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>      Item Build      </title>
</head>
<body>
    <h1>Create a New Wish List Item         <a href="/main" style="margin-left:100px; font-size:12px">Return to Main</a></h1>

    <form action="/add_item" method = "post">
        {% csrf_token %}
        Item/Product : <input type="text" name = "name"><br>
        <input type="hidden" name="session_user" value="{{request.session.id}}">
        <input type="submit" value="Add Item">                                          <!--  Stores id of "creator" of item -->
    </form>
</body>
</html>